# Jupyter tmp files 
.ipynb_checkpoints

# VSCode settings
*.code-workspace
.vscode
__pycache__

# PyCharm
.idea

# Compiled files
*.pyc
dist
*egg-info*

.venv/
tmp/
logs/*/*.yml
runs/
datasets/draw_*
datasets/gaussian_noise/
datasets/synthetic_shapes_v6/
*.pth.tar